.info {
  padding-top: 80px;
  padding-bottom: 80px;
  // .info__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.weather-card {
  color: #ffffff;
  font-weight: 500;

  min-width: 500px;

  background: rgb(71, 76, 77);
  background: linear-gradient(
    to bottom,
    rgb(82, 146, 243),
    rgba(82, 82, 243, 0.475) 
  );

  border-radius: 5px;
  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;

  // .weather-card__deg

  &__deg {
  }

  // .weather-card__city

  &__city {
    text-transform: uppercase;
  }

  // .weather-card__info

  &__info {

  }
  // .weather-card__city

  &__city {
    text-transform: uppercase;
  }

  // .weather-card__image-thumb

  &__image-thumb {
  }
}
